<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 存储IP地址 -->
    <add key="IPAddress" value="1.1.1.1" />
    <!-- 存储端口号 -->
    <add key="Port" value="1883" />
    <!-- 存储用户名 -->
    <add key="Username" value="plc" />
    <!-- 存储密码 -->
    <add key="Password" value="" />
    <!-- 摄像头信息 -->
    <add key="Camera" value="rtsp://1.1.1.1:554/Streaming/Channels/101" />
    <!-- 摄像头账号 -->
    <add key="CameraUser" value="admin" />
    <!-- 摄像头密码 -->
    <add key="CameraPass" value="*****" />
  </appSettings>
</configuration>
